<ion-view id="consumer" view-title="Home" >
    <ion-content padding="true" scroll="false">
        <form>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">


                	<div class="header text-center">
	  					<div class="col col-center">
			  				<div>
			  					<img src="img/consumerAvatar.png" class="avatar" alt="" />
			  				</div>
			  				<div class="textline1">DEE JONES</div>
			  				<div class="textline2">Consumer</div>
			  			</div>
		  			</div>
                	<div class="header-logo padding text-center"  ng-click="scanQRCode()">
                        <img src="img/scan_img.png"/>
                    </div>

                	<div class="header text-center" style="color:#387ef5;">
                        Tap to Scan
                    </div>
                    
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>