<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" style="font-weight: 300;">New Batch</h1>
    <div class="buttons">
      <button class="button button-clear ion-ios-close-outline" style="font-size: 30px;color: #5590F6;" ng-click="closeNewBatchModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="">
      <div class="list newBatch">
        <label class="item item-input">
          <span class="input-label">Batch Id</span>
          <input type="text" ng-model="newBatch.batchId" disabled>
        </label>
         <label class="item item-input">
          <span class="input-label">Fish Type</span>
          <input type="text" ng-model="newBatch.fType" disabled>
        </label>
         <label class="item item-input">
          <span class="input-label">Date/Time</span>
          <input type="text" ng-model="newBatch.date" disabled>
        </label>
         <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" ng-model="newBatch.location" disabled>
        </label>
         <label class="item item-input">
          <span class="input-label">Quantity</span>
          <input type="text" ng-model="newBatch.quantity" disabled>
        </label>
        <label class="item" style="padding-left: 30px; padding-right: 30px">
          <button class="button button-outline button-block button-positive" ng-click="addBatch()">
                  <span class="ion-ios-plus-outline"></span>&nbsp&nbspAdd To Truck
                </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
